@model MvcMusicStore.Models.Album

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete the album titled 
    <strong>@Model.Title</strong>?</h3>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <p>
            <input type="submit" value="Delete" class="btn btn-default"/>
        </p>
        <p>@Html.ActionLink("Back to List", "Index")</p>
    </div>
}

